.btn{
    background-color: antiquewhite;
    height: 50px;
    width: 80px;
    margin-top: 25%;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
   
  

}
body{
    display: flex;
    justify-content: center;
    
  
}
